<form class="flex flex-col items-center py-5">
  <div class="flex flex-col items-center gap-5">
    <app-gacha-button (doGacha)="doGacha()">ガチャを回す</app-gacha-button>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <label for="selectPrice" class="block text-sm text-gray-700">価格選択</label>
        <select
          id="selectPrice"
          (select)="(selectedPrice)"
          (change)="onChangeCurrentPrice($event)"
          class="p-2 text-sm text-gray-900 border rounded-lg bg-gray-50 border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        >
          @for (price of priceRange; track $index) {
            <option [value]="price">{{ price }} 円</option>
          }
        </select>
      </div>
      <div class="flex items-center gap-2">
        <input
          type="checkbox"
          id="selectAlcohol"
          [checked]="isCheckedAlcohol"
          (change)="toggleCheckState()"
          class="w-6 h-6 scale-75"
        />
        <label for="selectAlcohol" class="text-sm text-gray-700">アルコール類を除く</label>
      </div>
    </div>
  </div>
</form>

@if (gachaResult) {
  <app-gacha-result [result]="gachaResult" />
}
